  <div class="account__order-details">
    <h1 class="title-order">{{ 'customers.account.order_details' | t }}</h1>
  </div>

  <div class="columns-main">
    {%- include 'account-nav' -%} 
    {%- include 'account-order' -%}
 </div>

 