<div class="template-account">
  <div class="account-title">
    <h1>{{ 'customers.account.header' | t }}</h1>
    <!-- (<a href="/account">{{ 'customers.account.logout' | t | customer_logout_link }}</a>) -->
  </div>

  <div class="columns-main">
      {%- include 'account-nav' -%} 
      {%- include 'account-dashboard' -%}
  </div>


</div>
